@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* header */

.regislog {
  /* color: rgb(207, 13, 159); */
  display: flex;
  /* margin-top: 2px; */
  height: 100%;
  width: 20%;
  font-weight: bold;
  font-size: 1.4rem;
  /* background-color: rgb(44, 218, 248); */
  align-items: center;
  justify-content: space-around;
}

.regislog button {
  border-style: none;
  padding: 0 1rem;
  font-size: 1.3rem;
  color: rgba(66, 83, 83, 0.945);
  background-color: white;
  height: 100%;
  width: 50%;
  border: none;
  outline: none;
}

.regislog button:hover {
  color: rgb(48, 153, 214);
}

@media screen and(max-width:400px) {
  .regislog button {
    padding: 0 0.5rem;
    font-size: 0.6rem;
  }
}

.form_group {
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
}
.form_group h2 {
  font-weight: bold;
}
.named {
  font-weight: bold;
  font-size: 1.5rem;
  /* color: black; */
}
.regerr {
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px solid rgb(236, 65, 65);
  border-radius: 8px;
  display: flex;
  align-items: center !important;
  justify-content: space-between;
  background-color: rgb(252, 176, 176);
}
.regerr button {
  background-color: rgb(212, 59, 59);
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center !important;
  justify-content: center;
}
